<?xml version="1.0" encoding="UTF-8"?>
<kb-project>
 <depends-on-projects/>
 <used-by-projects/>
 <paths>
  <path value="C:/Users/Anselmo.not/.m2/repository/com/sun/faces/jsf-api/2.2.12/jsf-api-2.2.12.jar"/>
  <path value="C:/Users/Anselmo.not/.m2/repository/org/primefaces/primefaces/5.3/primefaces-5.3.jar">
   <libraries>
    <library class="faces-config">
     <id class="model-object"
      path="FileSystems/lib-primefaces-5.3.jar/meta-inf/faces-config.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-primefaces-5.3.jar/meta-inf/primefaces-p.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-primefaces-5.3.jar/meta-inf/primefaces-pm.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
   </libraries>
  </path>
  <path value="C:/Users/Anselmo.not/.m2/repository/com/sun/faces/jsf-impl/2.2.12/jsf-impl-2.2.12.jar">
   <libraries>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/meta-inf/html_basic.tld" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/meta-inf/jsf_core.tld" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/meta-inf/mojarra_ext.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="tld">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/meta-inf/mojarra_ext.tld" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/composite.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/facelets_jsf_core.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/html_basic.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/jstl-core.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/jstl-fn.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/mojarra_ext.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
    <library class="facelet">
     <id class="model-object"
      path="FileSystems/lib-jsf-impl-2.2.12.jar/com/sun/faces/metadata/taglib/ui.taglib.xml" project="SpringPrimafacesWebApp"/>
    </library>
   </libraries>
  </path>
  <path value="/SpringPrimafacesWebApp/src/main/webapp/WEB-INF/faces-config.xml">
   <libraries>
    <library class="faces-config">
     <id class="model-object"
      path="FileSystems/WEB-INF/faces-config.xml" project="SpringPrimafacesWebApp"/>
    </library>
   </libraries>
  </path>
 </paths>
 <validation>
  <core validator-id="jsf-verification"/>
  <core validator-id="jboss.jsf.core"/>
  <el>
   <linked-el length="21" name="%0" offset="472" path="%1"/>
   <linked-el length="21" name="%2" offset="472" path="%1"/>
  </el>
 </validation>
 <aliases>
  <alias path="project.artifactId" value="%0"/>
  <alias path="project" value="%2"/>
  <alias path="/SpringPrimafacesWebApp/pom.xml" value="%1"/>
 </aliases>
 <includes/>
 <uris>
  <uri value="http://java.sun.com/jsf/core">
   <prefix>f</prefix>
  </uri>
  <uri value="http://java.sun.com/jsf/html">
   <prefix>h</prefix>
  </uri>
  <uri value="http://primefaces.org/ui">
   <prefix>p</prefix>
  </uri>
 </uris>
</kb-project>
