/*Desktop*/
@media (min-width: 768px){
	.panel-default {
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert {
		margin-left: 10px;
		margin-right: 10px;
	}
}

.navbar {
	background-color: #00A8FB;
}

.navbar-brand {
	padding-top: 0px;
	margin-left: 10px;
	height: 55px;
}

.navbar-inverse {
	border-color: #013ADF;
}

.logo {
	height: 55px;
}

.link-novo {
	float: right;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

.titulo-painel {
	float: left;
	padding-top: 2px;
}
.label-status{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-family:sans-serif;
	font-size: 12px;
}
.glyphicon-pencil{
	color: #00A8FB;
	padding-right: 2px;
}
.glyphicon-remove{
	color: #DF3A01;
	padding-left: 2px;
}