<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/titulos"> <img class="logo"
				alt="Sistema de Cobrança" th:src="@{/images/logo.png}" />
			</a>

		</div>
	</div>
</nav>
</html>

<!--<div class="container-fluid">-->
	<!--<div class="navbar-header">-->
		<!--<div class="row">-->
			<!--<div class="col-sm-12 col-md-12 col-lg-12">-->
				<!--<div class="col-sm-12 col-md-10 col-lg-10">-->
					<!--<a class="navbar-brand" href="/titulos">-->
						<!--<img class="logo"alt="Sistema de Cobrança" th:src="@{/images/logo.png}" />-->
					<!--</a>-->
				<!--</div>-->
				<!--<div class="col-sm-12 col-md-2 col-lg-2">-->
					<!--<a class="navbar-brand" href="/logout">-->
						<!--<span class="glyphicon glyphicon-off" aria-hidden="true"></span>-->
					<!--</a>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->