<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cadastro de Títulos</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-static-top topo">
    <div class="container-">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img class="logo" alt="Sistema de Cobrança" src="/images/logo.png"/>
            </a>
        </div>
    </div>
</nav>
<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1 class="panel-title">Novo Titulo</h1>
        </div>
    </div>
</form>
</body>
<script src="/js/bootstrap.min.js">

</script>
</html>